[submodule "externals/cryptopp"]
	path = externals/cryptopp
	url = https://github.com/Muggle345/cryptopp
	shallow = true
[submodule "externals/cryptopp-cmake"]
	path = externals/cryptopp-cmake
	url = https://github.com/Muggle345/cryptopp-cmake
	shallow = true
[submodule "externals/fmt"]
	path = externals/fmt
	url = https://github.com/shadps4-emu/ext-fmt
	shallow = true
[submodule "externals/zlib-ng"]
	path = externals/zlib-ng
	url = https://github.com/shadps4-emu/ext-zlib-ng
	shallow = true
[submodule "externals/toml11"]
	path = externals/toml11
	url = https://github.com/ToruNiina/toml11
	shallow = true
